.container .testimonials__container{
  width: 50%;
}
.client__avatar{
    width: 20rem;
    height:20rem;
    aspect-ratio: 1/1;
    overflow: hidden;
   
    margin:0 auto 1rem;
    border: 0.4rem solid var(white);
}

.testimonial{
    background: black;
    text-align: center;
    
    border-radius: 2rem;
    user-select: none;
}
.client__review{
color: var(--color-light);
font-weight: 300;
display: block;
width:10rem;
/* margin:0.8rem auto 0; */
font-size: large;
}
.clients__name{
    top: 0rem;
}
#Experiance{
    height:100vh;
}