footer {
    background: var(--color-primary);
    padding:4rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
}
footer a{
    color: var(--color-bg);
}

.permalinks{
    display: flex;
  
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap:2rem;
}
.footer__socials{
display: flex;
justify-content: center;
gap:1rem;
margin-bottom: 4rem;
}
.footer__socials a{
    background: var(--color-bg);
    color: aliceblue;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border:1px solid transparent;
    margin-top: 2rem;
}
.footer__socials a:hover{
    background: var(--color--light);
    color: var(--color-bg);
    border-color: var(--color-bg);
}
/* h1{
    color: black;
    padding: 2rem;
} */
 .footer__name{
    color: black;
    padding: 2rem;
 }
/* .footer__copyright{
    margin-top: 10rem;
    
} */

@media screen and (max-width:600px) {
    .permalinks{
        flex-direction: column;
        gap:1.5rem;
    }
    .footer__socials{
        margin-bottom: 2.6rem;
    }
}